# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node (caso use ferramentas de build futuramente)
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# Build / dist
dist/
*.zip
